@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string message = Model.message;
    System.Console.WriteLine(message);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="./API/workorders">This will take you to the workorders api endoint</a></p>
    <p>@(message)</p>
    
</div>
